@page
@using Chat.Api.Pages.Shared
@model Chat.Api.Pages.Shared.IndexModel

@{

}

<p>
    <a asp-page="Index">Чат-комнаты</a>
</p>
<div>
    @foreach (var chatRoom in IndexModel.Rooms)
    {
        <div>
            <h4>@chatRoom.Title</h4>
            <span>Количество участников: @chatRoom.Users.Count</span>
            <button>Присоединиться</button>
        </div>
    }
</div>