@using Chat.Domain
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Чат</h2>
    <div>
        @foreach(var message in (IEnumerable<Message>)Model)
        {
            <div>
                <h5>@message.User.Login</h5>
                <div>@message.Text</div>
            </div>
        }
    </div>
    <div>
        <input id="sendmessage" type="button" value="Send!" />
        <input id="messageTextInput" type="text" />
    </div>

    <script>
        let url = window.location.href;
        var socket = new WebSocket(url.replace("https", "wss"));
        socket.onopen = function (event) {
            console.log("WebSocket opened.");
        };
        socket.onmessage = function (event) {
            console.log("WebSocket message received:", event.data);
        };
        socket.onclose = function (event) {
            console.log("WebSocket closed.");
        };
        socket.onerror = function(error) {
            console.log('WebSocket error:', error);
        };

        document.getElementById("sendmessage").addEventListener("click", function () {
            let textElement = document.getElementById("messageTextInput");
            let text = textElement.value;
            socket.send(text);
            textElement.value = '';
        });
    </script>
}